@media screen and (max-width:768px) {
.col{
    width: 100%;
}
.app{
    width: 100%;
    padding:0;
    margin: 0;
    background-image: linear-gradient(to right ,rgba(0, 0, 255, 0.459),rgba(255, 0, 98, 0.705)),url('');

}
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height:5.6rem;
    background-color: rgba(0, 0, 0, 0.658);
    z-index: 1;
    overflow:hidden;
   
    transition: top 0.3s;
}


#nav ul li{
    display:block;
    padding:0 2.2rem;
   
}

li:first-child{
    width:15rem;
    /* height:100%; */
    padding:auto;
}

.menu-item a{
    padding:2rem;
    display:inline-block;
    text-decoration: none;
    color:white;
    font-size:2.2rem;
    width:100%;
    font-weight: 300;
    
}
.menu-item a:hover{
    background-color: rgba(16, 255, 48, 0.548);
    
}

#header .mobile-menu-btn {
    float: right;
    padding: 0 1.2rem;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}
#header .mobile-menu-btn:hover {
    background-color: rgba(7, 133, 252, 0.616);
}
#header .mobile-menu-btn  i{
    font-size:2.2rem;
    color: white;
}

#header .mobile-menu-btn {
    float: right;
    padding: 2rem;
    cursor: pointer;
}

.banner{
    background-image: url('../images/nam_du_mobile.jpg');
    height:35rem;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 2rem;
}
.banner-text{
    position: absolute;
    /* top: 35%;
    left:10%; */
    /* padding: 12rem 0rem; */
    top:20rem;
    left:2rem;
    height: 2rem;
    text-shadow: black 1px 0.2px 8px;
}
.banner-text h2{
    font-size: 10vw;
    color: rgb(255, 255, 255);
    padding-bottom: 5vw;
}
.banner-text p{
    font-size: 4.2vw;
    color: rgb(255, 255, 255);
    padding-left: 2.2vw;

}

#about{
    padding: 0rem 0;

}
.about-text{
    line-height:2rem;
    font-size: 1.6rem;
    padding: 1rem;
}

.about-text h2{
    
    text-align: center;
    padding: 2rem 0;
}


.about-text p{
    font-weight: 400;
    padding-bottom: 2rem;
}


.about-list{
    display: grid;
    grid-gap:1rem;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows:repeat(4,1fr);
    width:100%;
    text-align:center;
    padding:1rem;  
    
}

.numbertext a{
    width: 100%;
    height:auto;
}

.list-img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 2%;
    box-shadow: 0 0 4px 1px rgb(0, 0, 0);
}

.list_item:first-child{
    grid-column: 1/2;
    grid-row: 1/2;
}
.list_item:nth-child(2){
    grid-column: 1/2;
    grid-row: 2/3;
}
.list_item:nth-child(3){
    grid-column: 1/2;
    grid-row: 3/4;
}
.list_item:nth-child(4){
    grid-column: 1/2;
    grid-row: 4/5;
}


.food-img{
    padding: 1.5rem .5rem;
}
.food-img img{ 
    max-width: 100%;
    height: auto;
    object-fit: cover;
    /* border-radius: 5%; */
    box-shadow: 0 0 4px 1px rgb(0, 0, 0);
    
}
.food-text{
    line-height:2rem;
    font-size: 1.6rem;
    padding: 1rem;
}

.food-text h2{
    
    text-align: center;
    padding: 2rem 0;
}


.food-text p{
    font-weight: 400;
    padding-bottom: 1rem;
}

.island-img img{ 
    max-width: 100%;
    height: auto;
    object-fit: cover;
    /* border-radius: 5%; */
    box-shadow: 0 0 4px 1px rgb(0, 0, 0);
    
}
.island-text{
    line-height:2rem;
    font-size: 1.6rem;
    padding: 1rem;
}

.island-text h2{
    
    text-align: center;
    padding: 2rem 0;
}


.island-text p{
    font-weight: 400;
    padding-bottom: 1rem;
}






.resort-img{
    padding: 1.5rem .5rem;;
}
.resort-img img{ 
    max-width: 100%;
    height: auto;
    object-fit: cover;
    /* border-radius: 5%; */
    box-shadow: 0 0 4px 1px rgb(0, 0, 0);
    
}
.resort-text{
    line-height:2rem;
    font-size: 1.6rem;
    padding: 1rem;
}

.resort-text h2{
    
    text-align: center;
    padding: 2rem 0;
}


.resort-text p{
    font-weight: 400;
    padding-bottom: 1rem;
}

.xemthem{
    color: rgb(3, 80, 247);
    line-height:1.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 1rem;
}
.xemthem a{
    text-decoration: none;
}
.xemthem a:visited{
    color: rgb(3, 80, 247);

}

#map iframe{
    width: 100%;
    height:auto;
    object-fit: cover;
    border:0;
    margin: 2rem 0 0 0;
}
.map-text{
    line-height:2rem;
    font-size: 1.6rem;
    padding: 1rem;
}

.map-text h2{
    
    text-align: center;
    padding: 0;
}



#footer{
    height: auto;
    background-color:#333;
    font-size:1.6rem;
    padding:2rem;
    text-align:center;
}
.footer-item{
    padding: 1rem 0;
    color:#FFF;
}

#slideshow{
    display: none;
}


}